<template>
  <div id="container">
    <Navbar id="nav" :profile="profile"/>
    <div style="display: flex;">
      <Conversation :friends="friends" @conversationSelected="conversationSelected" id="convo"/>
      <Message :actual-conversation="actualConversation" :profile-id="profileId" :profile="profile"
               :actual-conversation-profile="actualConversationProfile" id="message"/>
      <Friend :friends="friends" @friendListUpdate="friendListUpdate" if="friend"/>
    </div>
  </div>
</template>

<script>
import Navbar from './Navbar.vue'
import Conversation from './Conversation.vue'
import Message from './Message.vue'
import Friend from './FriendList.vue'

export default {
  name: 'Connected',
  components: {
    Navbar,
    Conversation,
    Message,
    Friend
  },
  mounted() {

    this.axios.post(this.basePath + "auth", {}, this.axiosConfig)
        .then(response => {
        })
        .catch(e => {
          window.location.href = "/#/Login"
        })

    this.axios.get(this.basePath + "friends/getFriendsProfile", {}, this.axiosConfig)
        .then(response => {
          response.data.forEach((data, index) => {
            this.friends.push(data);
          })
        })
        .catch(e => {
        })

    this.axios.post(this.basePath + "profile/getProfile", {}, this.axiosConfig)
        .then(response => {
          this.profile = response.data.firstname + " " + response.data.name
          this.profileId = response.data.id
        })
        .catch(e => {
        })

  },
  data() {

    return {
      friends: [],
      actualConversation: -1,
      actualConversationProfile: "",
      profileId: -1,
      profile: ""
    }

  },
  methods: {

    friendListUpdate(e) {
      this.friends = e;
      this.actualConversation = -1;
      this.actualConversationProfile = "";
    },

    conversationSelected(item) {
      this.actualConversationProfile = item.firstname + " " + item.name;
      this.actualConversation = item.id;
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#container {
  display: flex;
  flex-direction: column;
}

#convo {
  border-right: solid rgb(23, 162, 184);
  height: 93vh;
  width: auto;
  padding: 1vh;
  min-width: 10%;
}

#friend {
  float: right;
  border-left: solid rgb(23, 162, 184);
}

#message {
  min-width: 70%;
  min-height: 100%;
}
</style>