<template>
  <div>
    <b-button-group vertical>
      <b-button class="btn-space" v-for="item in friends" :key="item.id" variant="outline-secondary"
                v-on:click="onClick(item)">
        {{ item.firstname }} {{ item.name }}
      </b-button>
    </b-button-group>
  </div>
</template>

<script>


export default {
  name: 'Conversation',
  props: ['friends'],

  data() {
    return {}
  },

  methods:
      {
        onClick(item) {
          this.$emit("conversationSelected", item);
        }
      }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-space {
  margin-bottom: 1vh;
}
</style>