<template>
  <div>
    <b-button-group vertical>
      <div v-for="item in noFriends" :key="item.id">
        {{ item.firstname }} {{ item.name }}
        <b-button class="btn-space" variant="success" v-on:click="AddFriend(item)">
          Add Friend
        </b-button>
      </div>
      <div v-for="item in friends" :key="item.id">
        {{ item.firstname }} {{ item.name }}
        <b-button class="btn-space" variant="danger" v-on:click="RemoveFriend(item)">
          Remove Friend
        </b-button>
      </div>
    </b-button-group>
  </div>
</template>

<script>
export default {
  name: 'Friend',

  mounted() {

    this.noFriends = [];

    this.axios.get(this.basePath + "friends/getNoFriendsProfile", {}, this.axiosConfig)
        .then(response => {
          /*for(var data in response.data)
          {
              this.noFriends.push(response.data[data]);
          }*/

          response.data.forEach((data, index) => {
            this.noFriends.push(data);
          })
        })
        .catch(e => {
        })

  },

  props: ['friends'],

  data() {
    return {
      noFriends: []
    }
  },

  methods: {
    AddFriend(item) {

      this.axios.post( this.basePath + "friends/addFriend", {friend: item.id}, this.axiosConfig)
          .then(response => {
            if (this.noFriends.length < 2) {
              this.noFriends = [];
            } else {
              var index = this.noFriends.indexOf(item);
              if (index > -1) {
                this.noFriends.splice(index, 1);
              }
            }
            this.friends.push(item)
            this.$emit("friendListUpdate", this.friends);
          })
          .catch(e => {
            console.log(e);
          })

    },
    RemoveFriend(item) {

      this.axios.post(this.basePath + "friends/removeFriend", {friend: item.id}, this.axiosConfig)
          .then(response => {
            if (this.friends.length < 2) {
              this.friends = [];
            } else {
              var index = this.friends.indexOf(item);
              if (index > -1) {
                this.friends.splice(index, 1);
              }
            }
            this.noFriends.push(item)
            this.$emit("friendListUpdate", this.friends);
          })
          .catch(e => {
            console.log(e);
          })

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-space {
  margin-bottom: 1vh;
}
</style>