<template>
  <div>
    <img alt="Vue logo" src="../assets/docker_compose.png" style="margin-top: 60px;" b-link to="/">

    <br/>

    <b-button variant="success" b-link to="/Login">Log in</b-button>
    &nbsp;
    <b-button variant="info" b-link to="/Signin">Sign in</b-button>
  </div>
</template>

<script>


export default {
  name: 'Index',
  mounted() {

    this.axios.post(this.basePath + "auth", {}, this.axiosConfig)
        .then(response => {
          if (response.data != "KO") {
            window.location.href = "/#/Profile"
          }
        })
        .catch(e => {
          console.log(e)
        })

  },
  data() {
    return {}
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>