<template>
  <div class="connect">
    <img b-link to="/" alt="Vue logo" src="../assets/docker_compose.png">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
      >
        <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
        ></b-form-input>
      </b-form-group>

      <b-form-group
          id="input-group-1"
          label="Password:"
          label-for="input-1"
      >
        <b-form-input
            id="input-1"
            v-model="form.password"
            type="password"
            placeholder="Enter password"
            required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      &nbsp;
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>

export default {
  name: 'Login',
  data() {
    return {
      form: {
        email: '',
        password: '',
        name: '',
      },
      show: true
    }
  },
  methods: {

    onSubmit(event) {
      event.preventDefault()
      this.$store.state.form.email = this.form.email;
      this.$store.state.form.password = this.form.password;
      this.$store.state.form.name = this.form.name;
      this.$store.state.show = !this.$store.state.show;

      this.axios.post(this.basePath + "auth/verifyAuth",
          {
            username: this.form.email, password: this.form.password
          }, this.axiosConfig)
          .then(response => {

            if (response.data != "KO") {
              window.location.href = "/#/Profile"
            }

          })
          .catch(e => {
            console.log(e)
          })
    },
    onReset(event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      this.form.name = ''

      this.$store.state.form.email = this.form.email;
      this.$store.state.form.password = this.form.password;
      this.$store.state.form.name = this.form.name;

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.connect {
  width: 50%;
  margin: 0 auto;
}
</style>