<template>
  <div>
    <div class="msg-container" id="msg-container">
      <p class="btn-space" v-for="item in messages" :key="item.id" variant="outline-secondary">
        {{ item.sender }} : {{ item.message }} | {{ item.dateSending || formatDate }}
      </p>
    </div>
    <div class="msg-footer" v-if="actualConversation != -1">
            <span>
                <textarea class="msg-textarea" rows="1" v-on:keyup.enter="onKeyup" v-model="content"></textarea>
                <b-button v-on:click="onKeyup">Send</b-button>
            </span>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Message',
  props: ['actualConversation', 'profileId', 'profile', 'actualConversationProfile'],
  watch: {
    actualConversation: function (newVal, oldVal) {
      this.reloadMessages(true);
    }
  },
  created() {
    this.reloadInterval();
  },
  beforeDestroy() {
    clearInterval(this.reload)
  },

  data() {
    return {
      content: '',
      messages: [],
      reload: null
    }
  },

  methods: {
    onKeyup() {
      this.sendMessage(this.content);
    },

    reloadMessages(forceReload = false) {

      if (forceReload) {
        this.messages = [];
      }

      if (this.actualConversation != "-1") {

        this.axios.post(this.basePath + "messaging/getMessages", {
          user1: this.profileId,
          user2: this.actualConversation
        }, this.axiosConfig)
            .then(response => {

              response.data.forEach((element) => {

                var message = {
                  id: element.id,
                  message: element.message,
                  sender: element.userSending == this.profileId ? this.profile : this.actualConversationProfile,
                  dateSending: moment(element.dateSending).format('DD-MM-YYYY hh:mm')
                };

                var exist = this.messages.some((item) => {
                  return item.id === message.id;
                });

                if (!exist) {
                  this.messages.push(message)
                }

              });

            })
            .catch(e => {
            })
      } else {
        this.messages = [];
      }
    },

    sendMessage(msg) {
      this.axios.post(this.basePath + "messaging/addMessage", {
        user1: this.profileId,
        user2: this.actualConversation,
        message: msg
      }, this.axiosConfig)
          .then(response => {
            this.reloadMessages()
            this.content = ''
          })
          .catch(e => {
            console.log(e);
          })
    },

    reloadInterval() {

      this.reload = setInterval(() => {
        this.reloadMessages();
      }, 1000)

    }
  }

}
</script>

<style scoped>
.msg-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
}

.msg-recv {
  background-color: rgb(48, 157, 181);
  color: #FFFFFF;
  padding: 5px 0px 5px 10px;
  margin: 5px 5px;
  border-radius: 10px;
  font-size: 18px;
  max-width: 80%;
  word-break: break-all;
}

.msg-sent {
  background: rgb(36, 42, 117);
  color: #FFFFFF;
  padding: 5px 5px 5px 10px;
  margin: 5px 5px;
  margin-left: 50px;
  border-radius: 10px;
  font-size: 18px;
  max-width: 80%;
  word-break: break-all;
  align-self: flex-end;
}

.msg-footer {
  align-items: center;
}

.msg-footer > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  align-items: center;
  margin: 5px
}

.msg-footer > span > textarea {
  border: none;
  background-color: transparent;
  height: 32px;
  min-width: 90%;
}
</style>