<template>
    <div> 
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand b-link to="/HomePage">TangBook - Le réseau social de la E5FI</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                    <em>{{ profile }}</em>
                </template>
                <b-dropdown-item b-link to="/Profile" >Profile</b-dropdown-item>
                <b-dropdown-item v-on:click="signOut">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>


export default {
    name: 'Navbar',
  props: ['profile'],
  data() {
        return {
        }
    },
    methods: {
      signOut()
      {
        this.$cookies.remove("X-Auth-Token");
        window.location.href = "/"
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>