<template>
  <div>
    <Navbar :profile="profile"/>

    <div>
      Mail: {{ email }} <br/>
      Lastname: {{ name }} <br/>
      Firstname: {{ firstname }} <br/>
      Gender: {{ gender }} <br/>
      Birthday: {{ birthday | birthdate }} <br/>
    </div>
  </div>
</template>

<script>
import Navbar from './Navbar.vue'

export default {
  components: {Navbar},
  name: 'Profil',
  mounted() {

    this.axios.post(this.basePath + "auth", {}, this.axiosConfig)
        .then(response => {
        })
        .catch(e => {
          window.location.href = "/#/Login"
        })

    this.axios.post(this.basePath + "profile/getProfile", {}, this.axiosConfig)
        .then(response => {
          this.name = response.data.name
          this.email = response.data.email
          this.firstname = response.data.firstname
          this.gender = response.data.gender
          this.birthday = response.data.birthday
          this.profile = response.data.firstname + " " + response.data.name
        })
        .catch(e => {
        })
  },
  data() {
    return {

      email: '',
      name: '',
      firstname: '',
      gender: '',
      birthday: '',
      profile: ''

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>