<template>
  <div class="connect">
    <img alt="Vue logo" src="../assets/docker_compose.png" b-link to="/">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else.">

        <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required></b-form-input>
      </b-form-group>

      <b-form-group
          id="input-group-1"
          label="Password:"
          label-for="input-1">
        <b-form-input
            id="input-1"
            v-model="form.password"
            type="password"
            placeholder="Enter password"
            required></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
        <b-form-input
            id="input-2"
            v-model="form.name"
            placeholder="Enter name"
            required></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Your Firstname:" label-for="input-3">
        <b-form-input
            id="input-3"
            v-model="form.firstname"
            placeholder="Enter firstname"
            required></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Your gender:" label-for="input-4">
        <b-form-input
            id="input-4"
            v-model="form.gender"
            placeholder="Enter gender"
            list="myList"
            required></b-form-input>
        <datalist id="myList">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </datalist>
      </b-form-group>

      <b-form-group id="input-group-5" label="Your Birthday:" label-for="input-5">
        <b-form-input
            id="input-5"
            v-model="form.birthdate"
            type="date"
            placeholder="Enter birthdate"
            required></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      &nbsp;
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>


export default {
  name: 'Signin',
  data() {
    return {
      form: {
        email: '',
        password: '',
        name: '',
        firstname: '',
        gender: '',
        birthdate: '',
      },
      show: true
    }
  },

  methods: {
    onSubmit(event) {

      event.preventDefault()
      this.$store.state.form.email = this.form.email;
      this.$store.state.form.password = this.form.password;
      this.$store.state.form.name = this.form.name;
      this.$store.state.form.firstname = this.form.firstname;
      this.$store.state.form.gender = this.form.gender;
      this.$store.state.form.birthdate = this.form.birthdate;
      this.$store.state.show = !this.$store.state.show;

      this.axios.post(this.basePath + "auth/createUser",
          {
            username: this.form.email,
            password: this.form.password,
            name: this.form.name,
            firstname: this.form.firstname,
            gender: this.form.gender,
            birthdate: this.form.birthdate
          }, this.axiosConfig)
          .then(response => {

            if (response.data != "KO") {
              window.location.href = "/#/Profile"
            }

          })
          .catch(e => {
            console.log(e)
          })

    },
    onReset(event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      this.form.name = ''
      this.form.firstname = ''
      this.form.gender = ''
      this.form.birthdate = ''

      this.$store.state.form.email = this.form.email;
      this.$store.state.form.password = this.form.password;
      this.$store.state.form.name = this.form.name;
      this.$store.state.form.firstname = this.form.firstname
      this.$store.state.form.gender = this.form.gender
      this.$store.state.form.birthdate = this.form.birthdate

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.connect {
  width: 50%;
  margin: 0 auto;
}
</style>